:root {
  --main-a-color: black;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

navbarLight{

}

navbarDark{

}

img {
  width: 100%;
}

.iconFooter {
  filter: invert(100%);
  width: 25px;
  margin: 5px;
}

.imgFooter {
  height: 55px;

}

.imgFooterDark {
  height: 55px;
  filter: invert(50%) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.buttonTheme{
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  height: 32px;
  width: 32px;
}

.buttonThemeDark{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  height: 32px;
  width: 32px;
  color: black !important;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  background-color: #ffdede;
}

main{
  display: flex;
  justify-content: center;
  box-shadow: 0 2em 0 0 white;
}

.mainDark{
  background-color: #272731;
  box-shadow: 0 2em 0 0 #272731;
}
.navbarTitle::first-letter {
  color: red;
}

.navbarTitle{
  margin-left: -20px;
}

.navbarDiv{
  display: flex;
  align-items: center;
}

.divCentral{
  display: flex;
  justify-content: center;
  align-items: center;
}

.divCentralDark{
  display: flex;
  justify-content: center;
  align-items: center;
}

.divCentralDark *{
  color:white;
}

.divSpace{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divAll{
  width: 100%;
}

div.navbarDiv > a {
  margin: 0 25px;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  height: 40px;
  margin-top: 2rem;
  border-top: #ff8e8e solid 20px;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.cardDark{
  background-color: #1e1818;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

.darkNav {
  background-color: #000;
}
.darkNav * {
  color: white;
}

.footerDark{
  background-color: #000;  
  border-top: #4b4545 solid 20px;
}

.footerDark *{
  filter: invert(0%);
}

.divContactDark {
  background-color: #272731;
  box-shadow: 0 2em 0 0 #272731;
}

.divContactDark *{
  color: white;
}